open
close
read
write
printf
malloc
free
perror
strerror
exit
gettimeofday
va_start
va_arg
va_copy
va_end
exp2
log2
trunc
round
nearbyint
lrint
llrint
lround
llround
fma
remainder
remquo
fdim
fmax
fmin
nan
isfinite
isinf
acos
asin
atan
atan2
acosh
asinh
atanh
cos
sin
tan
sinh
cosh
tanh
exp
expm1
log
log1p
log10
pow
cbrt
hypot
sqrt
erf
erfc
j0
j1
jn
y0
y1
yn
gamma
lgamma
ilogb
logb
nextafter
remainder
scalbn
fabs
copysign
floor
rint
isnan
matherr
significand
