getenv
gethostname
lseek
mlx_col_name
mlx_int_anti_resize_win
mlx_int_get_good_color
mlx_int_get_visual
mlx_int_param_event
mlx_int_set_win_event_mask
mlx_int_str_str
mlx_int_str_str_cote
mlx_int_str_to_wordtab
mlx_int_wait_first_expose
mlx_new_image
mmap
munmap
puts
shmat
shmctl
shmdt
shmget
__snprintf_chk
__stack_chk_fail
strcasecmp
strtol
XAutoRepeatOff
XAutoRepeatOn
XChangeGC
XChangeWindowAttributes
XClearWindow
XCloseDisplay
XCopyArea
XCreateBitmapFromData
XCreateColormap
XCreateGC
XCreateImage
XCreatePixmap
XCreatePixmapCursor
XCreateWindow
XDefineCursor
XDestroyWindow
XDrawPoint
XDrawString
XFlush
XFreeCursor
XFreeGC
XFreePixmap
XGetVisualInfo
XGetWindowAttributes
XGetWMNormalHints
XInternAtom
XkbKeycodeToKeysym
XLoadFont
XMapRaised
XNextEvent
XOpenDisplay
XPending
XPutBackEvent
XPutImage
XQueryPointer
XSetClipOrigin
XSetErrorHandler
XSetFont
XSetWMNormalHints
XSetWMProtocols
XShmAttach
XShmCreateImage
XShmCreatePixmap
XShmDetach
XShmPixmapFormat
XShmPutImage
XShmQueryVersion
XStoreName
XSync
XUndefineCursor
XUnloadFont
XWarpPointer
XWindowEvent
